* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aquamarine;
    margin: 0;
}

.header {
    background-color: black;
    height: 12vh;
    color: aquamarine;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-family: fantasy;
}

.library-info {
    margin: 15px 10px 0px 10px;
    height: 50px;
    opacity: 0.7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    border-radius: 5em;
}

.library-info>div {
    border-radius: 10em;
    font-family: fantasy;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}

.total {
    height: 100%;
    background-color: lightcoral;
}

.read {
    height: 100%;
    background-color: green;
}

.not-read {
    height: 100%;
    background-color: red;
}

.container {
    background-color: aquamarine;
    margin: 25px 15px 0 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.book,
.add-book {
    height: 300px;
    background-color: black;
    opacity: 0.5;
    border-radius: 1em;
}

.add-book {
    height: 50px;
    width: 150px;
    color: white;
    font-size: 22px;
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 1.5em;
    opacity: 0.8;
}

.form-popup {
    display: none;
    position: fixed;
    display: flex;
    justify-self: center;
    align-self: center;
    z-index: 1;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 1em;
    letter-spacing: 2px;
}

.form-container>h2 {
    font-size: 22px;
    font-family: fantasy;
    font-weight: 700;
}


/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-family: fantasy;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 1em;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus,
.form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    font-family: fantasy;
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    padding: 5px 0 0px 0;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 0.5em;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.add-book:hover {
    opacity: 0.6;
    cursor: pointer;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.book>div {
    margin: 20px 5px 0 5px;
    color: whitesmoke;
    font-family: fantasy;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.book .status {
    width: 150px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: end;
    font-style: italic;
    gap: 10px;
}

.book .delete {
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    margin: 10px 15px 0 0;
    background-color: grey;
    border-radius: 0.4em;
    width: 25px;
    height: 25px;
}

.delete:hover {
    opacity: 1;
    background-color: red;
    cursor: pointer;
}